body
{
	margin:0px;
	padding:0px;
	padding-bottom:0px;
	background-color:#fffaf0;
}



.top
{
	margin:5px;
	padding:10px;
	background-color:#111;
	
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  
}

li {
  float:right;
  display: inline;

}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.brand {
	float: left;
}
li a:hover{
	background: #000;

}

li a.re:hover {
  background-color:#aaa;
}

.re
{
	float:left;
	background:#4caf50;
}

	

.f
{
	border:2px solid red;
	margin-left:60px;
	padding:80px;
	display:inline-block;
	direction:center-right;
	
}
.f:hover {
	display:inline-block;
}
.g
{
	width:200px;
	height:150px;
}
.p:hover
{
	display:none;
}
.back
{
	background-image:url('ko.jpg');
 background-repeat:no-repeat;
 background-size:100%;
 background-attachment:fixed;
padding:120px;
}
#mo
{
	background-color:#f2c992;
	padding:17px;
	text-align:center;
	direction:center;
	color:black;
	font-size:20px;
	
	
}
.div
{
	background-image: url('no.jpg');
	background-repeat:no-repeat;
	background-size:100%;
	background-attachment:fixed;
	padding:70px;
}
	
	
.div1
{
	background-color:rgba(93, 138, 168, 0.5);
	padding:30px;
	direction:rtl;
	
}
.div2
{
	background-color:rgba(215, 103, 103, 0.52);
	padding: 40px;
	margin-top:10px;
	
}

	
