* {
	transition: 1s all ease-in-out;
}
body {
	padding: 0;
	margin: 0;
	background-color:white;
}

.top{
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 1;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  margin: 0;
}

li {
  display: inline-block;
  float: right;
}

.brand {
	float: left;
}

li a {
	display: inline-block;
	color: white;
	text-decoration: none;
	padding:20px;
	font-size: 20px;
}

li a:hover{
	background: #000;

}

li a.re:hover {
  background-color:#aaa;
}

.re
{
	float:left;
	background:#4caf50;
}

#about,#Bloge,#Project,#contact
{
	display:block;
	/* margin:10px; */
	left:-71px;
	width:100px;
	padding:10px;
	transition-duration: 2s;
	color:white;
	position: fixed;
	z-index: 1;
}

#about:hover,#Bloge:hover,#Project:hover,#contact:hover{
	left: 0;
}

#contact
{
	top: 80px;
	background-color:black;
}
#Project
{
	top: 120px;
	background-color:red;
}
#Bloge
{
	top: 160px;
	background-color:blue;
}
#about
{
	top: 200px;
	background-color:green;
}



.img{
	background-image:url('../images/so.jpg');
	padding:130px;
	margin:50px;
	background-repeat:no-repeat;
	background-size:100%;
	background-attachment:fixed;
}



.img2{
	background-image:url('../images/uo.jpg');
	background-size:	background-size:100%;
	background-attachment:fixed;
	background-repeat:no-repeat;
	padding:140px;
	margin:20px;
}

.p:first-line {
	background-color:#aaa;
}
.p:first-letter {
	font-weight:bold;
	background-color:red;
	border-radius:20px;
	margin:0px 10px 0 0;
	padding:0px 10px;
}

.p {
	color:#9e3364;
	font-size:20px;
	background-color:#DDD;
}

.back{
	background-image:url('../images/go.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
	padding:200px;
	padding-right:1200px;;
	/* margin-left:10px; */
	/* margin-bottom:10px;
	margin-top:30px; */
	margin: 10px 0;
	display:inline-block;
}

.mo {
	background-color:#f2c992;
	text-align:center;
	direction:center;
	color:black;
	font-size:20px;
	line-height:40px;
	overflow:hidden;
	padding: 15px;
	cursor: pointer;
}


.img2 {
	background-image:url('../images/uo.jpg');
	background-size:100%;
	background-attachment:fixed;
	background-repeat:no-repeat;
	padding:140px;
	margin:20px;
}

.p:first-line {
	background-color:#aaa;
}

.p:first-letter {
	font-weight:bold;
	background-color:red;
	border-radius:20px;
	margin:0px 10px 0 0;
	padding:0px 10px;
}

.p{
	color:#9e3364;
	font-size:20px;
	background-color:#DDD;
}
