.top{
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 1;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  margin: 0;
}

li {
  display: inline-block;
  float: right;
}

.brand {
	float: left;
}

li a {
	display: inline-block;
	color: white;
	text-decoration: none;
	padding:20px;
	font-size: 20px;
}

li a:hover{
	background: #000;

}

li a.re:hover {
  background-color:#aaa;
}

.re
{
	float:left;
	background:#4caf50;
}
#about,#Bloge,#Project,#contact
{
	display:block;
	/* margin:10px; */
	left:-71px;
	width:100px;
	padding:10px;
	transition-duration: 2s;
	color:white;
	position: fixed;
	z-index: 1;
}

#about:hover,#Bloge:hover,#Project:hover,#contact:hover{
	left: 0;
}

#contact
{
	top: 80px;
	background-color:black;
}
#Project
{
	top: 120px;
	background-color:red;
}
#Bloge
{
	top: 160px;
	background-color:blue;
}
#about
{
	top: 200px;
	background-color:green;
}


